<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Stomata</title>
  </head>
  <body>
    <div class="container">
      <h1>Host content on IPFS with Stomata</h1>
      <p>
        <a href="https://github.com/hughsie/stomata">Stomata</a> is a simple and
        incomplete IPFS gateway that aims to be compatible with some bits of the
        <a href="https://pinata.cloud/documentation">Pinata API</a>.
        It also adds support for publishing using IPNS entries.
        It only supports one hardcoded user and does not support JSON Web Tokens.
      </p>
      <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> This is probably not a good idea to use in production.
        Just use <a href="https://pinata.cloud/">Pinata</a> if you do not need to
        host your own IPFS gateway.
      </div>
      </p>
    </div>
  </body>
</html>
